<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <form action="/process" method="POST">
        <label for="query">Please enter location name or postcode：</label>
        <br>
        <input type="text" id="query" name="query" required>
        <button type="submit">search</button>
    </form>
</body>

</html>